<section class="container m-5">
  <h1>Centro de mensajes </h1>
  <form class="form" onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Tu nombre" />
    <input type="text" id="text" placeholder="Cuentanos algo..." />
    <button type="submit" id="enviar" class="btn btn-primary">Enviar</button> 
  </form>
  <div id="messages">

  </div>
</section>