<section class="container">
  <form class="form" onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Tu nombre" />
    <input type="text" id="text" placeholder="Cuentanos algo..." />
    <button type="submit" value="Enviar" class="btn btn-primary">Enviar</button> 
  </form>
  <div id="messages">

  </div>
</section>