<main class="container">
  <h1>
    Productos
  </h1>
  <div class="">
    <table class="table table-light">
      <thead>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
  <a href="/" class="btn btn-primary"> Volver al formulario </a>
</main>
 